/**
* FSA Color Values
* "Whiteish" #f6f6f6
* Purple: #532c6e
* Orange: #f6a704
* Grey color: #808285
* Turquoise: #00aaad;
**/

$whiteish: #f5f5f5;
$primaryColor: #532c6e; //purple
$secondaryColor: #f6a704; //orange
$tertiaryColor: #00aaad; //turquoise
$textPrimary: #808285;

// header styles
.site-header, .site-header.dark,
.featured-section .site-header,
.site-header .sub-menu a  {
    background: $whiteish;
    color: $primaryColor;
}
.site-header{
    .genesis-nav-menu .sub-menu a:hover,
    .genesis-nav-menu .sub-menu li.current-menu-item > a,
    .genesis-nav-menu .current-menu-item > a, {
        background: $whiteish * 3;
        color: $textPrimary;
    }

    .genesis-nav-menu a {
        color: $primaryColor;
    }
    .genesis-nav-menu .current_page_item > a {
        color: $textPrimary;
    }
}

.nav-secondary{
        background: $whiteish * 3;
        border-bottom: $textPrimary;
        margin-top: 76px;
        text-align: center;
        a{
            color: $textPrimary;
        }
}
.current-menu-item ul.sub-menu {
    display: none;
    visibility: hidden;
}
.secondary-nav .site-inner {
    margin-top:75px;
}

.fsa-purple{
    color: $primaryColor;
}
.fsa-orange{
    color: $secondaryColor;
}


//home page widgets
button.fsa-custom-cta{
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    :hover{
        border: 0px;
    }
}
button{
    background-color: $tertiaryColor;
    border-color: $tertiaryColor;
}

.front-page-2,
.front-page-4,
.front-page-6{
    .fsa-custom-heading{
        color: $primaryColor;
    }
}
.front-page-3{
    background-blend-mode: color-dodge;
    background-color: $tertiaryColor;
}
.front-page-4{
    .featured-content{
        .entry-title a{
            color: $tertiaryColor;
        }
    }
}


//footer styles
.site-footer{
    background-color: $primaryColor;
}

