$shadowColor: #cccccc;

.fsa-custom-heading{
    text-transform: uppercase;
}
.spices-letters{
    text-transform: uppercase;
}

.front-page-2{
    .fsa-custom-heading{
        text-transform: uppercase;
    }
}


.solid-section .featured-content{
    padding: 20px;
    box-shadow: 1px 1px 10px $shadowColor;
}
